# LangChain packages
langchain
langchain-core
langchain-chroma
langchain-community
langchain-google-genai
langchain-nvidia-ai-endpoints

# General utility libraries
numpy
pandas
requests

# Testing and development libraries
pytest
pytest-cov  # For test coverage reporting
black  # For code formatting
flake8  # For linting
